/*
=============== 
Variables
===============
*/

:root {
  --primary-color: rgba(206, 100, 206, 1);
  --secondary-color: rgba(206, 100, 206, .9);
  --overlay-color: rgba(0, 0, 0, 0.7);
  --blue-color: rgba(41, 99, 177, 1);
  /* for Modal */
  --hue: 206;
  --bkg: var(--hue) 50% 96%;
  /* 50% of hue and 96% of brightness */
  --text: var(--hue) 70% 9%;
  --dark: var(--hue) 70% 3%;
  --accent: rgba(246, 162, 30, 1);
}

/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  background-color: #f9e1fb;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h4 {
  font-weight: 500;
  color: var(--primary-color);
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  margin-left: 0rem;
}

.pad {
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}

.pad2 {
  margin-top: 1.5rem;
}

.bold {
  font-weight: bold;
}

.s-25 {
  font-size: 25px;
}

.pc {
  color: var(--primary-color);
}

h5 {
  font-weight: normal;
}

/*
=============== 
Main Styles
===============
*/

#main-container {
  max-width: 1170px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 0%, rgba(249, 225, 252, 0.5) 40%, rgba(249, 129, 249, 0.22) 60%, rgba(249, 225, 251, 0.9) 78%, rgba(255, 255, 255, 0.9) 100%);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

header .top {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1rem;
}

/* .call-me {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 7.5rem;
  height: 1rem;
  background-color: white;
  padding: 1rem;
} */

.call-me,
.email-me {
  display: flex;
  align-items: center;
  gap: .5rem
}

.call-me i,
.email-me i {
  scale: 1.1;
}

.call-me a.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 7.5rem;
  padding: .4rem;
  text-transform: lowercase;
  font-weight: bold;
  color: #777;
  background-color: white;
  border-radius: 5rem;
}

.email-me a.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  min-width: 10rem;
  padding: .4rem;
  text-transform: lowercase;
  font-weight: bold;
  color: #777;
  background-color: white;
  border-radius: 5rem;
}

header .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header .middle h5 {
  font-size: 1.1rem;
  padding: .5rem;
}

header .middle h5 span {
  font-style: italic;
  font-weight: bold;
}

header .middle h5 span:nth-child(1) {
  margin-top: .2rem;
}

header .middle .wosp-logo-title {
  width: 400px;
  height: 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

header .middle .wosp-allegro {
  background-image: url("/img2/wosp-allegro.jpg");
  width: 136px;
  /* can do it with property for img in global styling */
  height: 94px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  opacity: 1;
}

header .middle .video-container {
  width: 400px;
  height: 225px;
  padding: 1rem;
  background: rgba(255, 255, 255, .5);
  border-radius: 1rem;
}

header .middle span {
  display: block;
}

header .promo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.location span {
  display: block;
}

.location h3 {
  color: orange;
}

.location h3 .lila {
  color: rgba(206, 100, 206, 0.9);
}

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  text-align: center;
  min-width: 15rem;
  padding: .4rem;
  font-weight: bold;
  color: #000;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 1rem;
  position: relative;
  /* z-index: 1; */
}

.location-shape {
  position: absolute;
  width: 18rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, .3);
  /* z-index: 1; */
  border-radius: 2rem;
}

header .logo {
  min-width: 7.5rem;
  padding: .5rem 1.5rem;
  border: rgb(255, 255, 255) solid;
  border-radius: 5rem;
}

header h1 {
  font-size: 1.2rem;
  color: #777;
  text-align: left;
}

.logo,
.gabinet {
  color: rgba(0, 0, 0, 0.5);
}

.logo span.title-job {
  letter-spacing: .13rem;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.5rem;
  display: block;
}

header h2 {
  justify-self: center;
  font-size: 3rem;
  line-height: 2.5rem;
  margin-top: 0rem;
  color: rgba(206, 100, 206, 0.9);
}

header .promo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: orangered;
}

header .promo-text-2 {
  position: relative;
  rotate: -134deg;
  margin-top: -.5rem;
  margin-right: -1.2rem;
  text-align: center;
  line-height: 1;
  color: #777;
}

header .promo-text-2 span.num {
  font-size: 4rem;
  color: orangered;
}

header .promo-text-absolute {
  position: absolute;
  z-index: 5;
}

header .promo-shape {
  display: flex;
  flex-direction: column;
  /* top-right-bottom-left */
  align-items: center;
  justify-content: center;
  rotate: 45deg;
  /* margin-left: -35%; */
  scale: .8;
}

.rectangular-1 {
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, .8);
  position: relative;
  border-radius: 10%;
  z-index: 1;
}

.rectangular-2 {
  width: 12rem;
  height: 12rem;
  background-color: rgba(206, 100, 206, .3);
  position: absolute;
  rotate: 45deg;
  z-index: 2;
}

.rectangular-3 {
  width: 14rem;
  height: 14rem;
  background-color: rgba(206, 100, 206, .1);
  position: absolute;
  rotate: 45deg;
  z-index: 3;
}

.rectangular-4 {
  width: 8rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, .8);
  position: absolute;
  rotate: 90deg;
  z-index: 4;
}

/* Container */

.content {
  width: 100%;
  height: auto;
  background-color: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 0rem;
  row-gap: 4rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.content>div {
  width: 90%;
  height: 43rem;
  background-color: #fff;
  place-self: center;
  padding: 1rem;
  border: thin solid rgba(220, 150, 220, 0.3);
  border-radius: 0 0 1rem 0;
}

/* BOX-1: About */
.box-1 p {
  font-size: 0.9rem;
  line-height: 2rem;
}

.box-1 h2 {
  text-align: center;
}

/* BOX-2: Slider-Services */
.box-2 {
  position: relative;
}

.box-2 .carousel p {
  line-height: 2rem;
  font-size: 0.9rem;
  margin-top: 0.9rem;
}

.box-2 h2 {
  margin-bottom: 0.3rem;
  text-align: center;
}

button.ph {
  border-radius: 10rem;
  background-color: yellow;
}

button.ph2 {
  border-radius: 10rem;
  background-color: violet;
}

button.ph3 {
  border-radius: 10rem;
  background-color: orangered;
}

button.ph:hover,
button.ph2:hover,
button.ph3:hover {
  background-color: #fff;
}

.carousel {
  overflow: hidden;
}

.box-2 .carousel_item {
  display: flex;
  flex-direction: column;
}

.carousel .oferta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.carousel_item p,
.oferta {
  max-width: 24rem;
  text-align: left;
  margin: 0 auto;
  line-height: 1.5rem;
}

.carousel_item .btn_ph {
  margin: 0 auto;
  text-align: center;
}

.carousel_item .btn_ph button {
  font-size: 1rem;
  padding: .5rem;
}

.carousel_item h5 {
  font-size: 1rem;
  margin: 1rem 0;
}

.carousel_item h6 {
  font-size: 1rem;
}

.btn_contact {
  margin: 0 auto;
  text-align: center;
}

.carousel .carousel_item,
.carousel .carousel_item--hidden {
  display: none;
}

.carousel .carousel_item--visible {
  display: block;
  animation: fadeVisibility 0.8s;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

.carousel .carousel_actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel_actions button {
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  background-color: #f0f0f0;
  color: gray;
  border: 0.2rem solid #fcdeff;
}

.carousel .carousel_actions button:hover {
  background-color: #fff;
  color: #333;
  border-color: #f7c1fc;
}

.carousel .carousel_actions button#carousel_button--next {
  margin-right: 2.2rem;
}

.one {
  background: lightskyblue;
  height: 40.5rem;
  padding: 0.8rem;
}

.two {
  background: rgba(220, 150, 220, 0.3);
  height: 40.5rem;
  padding: 0.8rem;
}

.three {
  background: lightpink;
  height: 40.5rem;
  padding: 0.8rem;
}

/*
=============== 
BOX-3: Slider Reviews
===============
*/

.box-3 {
  position: relative;
}

.box-3 h2 {
  text-align: center;
}

.title {
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.text {
  color: var(--clr-grey-5);
  line-height: 1.8;
  max-width: 20rem;
  margin: 0 auto;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.text2 {
  margin-top: 1.25rem;
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.quote-icon {
  font-size: 3rem;
  margin-top: 2rem;
  color: black;
}

/* set buttons */
.btn {
  position: absolute;
  top: 50%;
  background-color: #f0f0f0;
  color: gray;
  padding: 0.4rem 0.6rem;
  border: 0.2rem solid #f9e1fb;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: #fff;
  color: #333;
  border-color: #f7c1fc;
}

.next-btn {
  right: 2%;
}

.prev-btn {
  left: 2%;
}

/* MORE CSS FOR JS */
.slide-container {
  display: flex;
  position: relative;
  width: 100%;
  /* from box width */
  height: 38rem;
  /* height is important for absolute elements */
  overflow: hidden;
}

.slide {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: .8rem;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  text-align: center;
  justify-content: center;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide.next {
  transform: translateX(100%);
}

.slide.last {
  transform: translateX(-100%);
}

/*
=============== 
BOX-4: Modal-Pop-up-Gallery-Images
===============
*/

.box-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-item {
  flex: 1 0 28%;
  min-width: 400px;
  min-height: 500px;
  cursor: zoom-in;
  border: none;
  background-color: #f7c1fc;
  color: rgba(206, 100, 206, .9);
  font-size: 2rem;
  border: rgba(206, 100, 206, .9) solid;
  transition: transform 250ms cubic-bezier(1, -0.01, 0.02, 1.3);
}

.image-item:is(:hover, :focus) {
  transform: scale(1.01);
  border: rgba(246, 162, 30, 1) 5px solid;
  text-decoration: underline;
}

button ul li {
  font-size: 1rem;
}

/* Modal Styling */
.modal-container {
  position: fixed;
  /* should fill whole screen */
  inset: 0;
  background-color: hsl(var(--dark) / .8);
  display: grid;
  place-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;
}

/* active class */
.modal-container.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: relative;
  margin: 2rem;
  /* !important*/
  max-width: 606px;
  width: 100%;
  display: grid;
  place-items: center;
  /* justify and align items together */
  overflow: hidden;
  box-shadow: 0px 2px 40px hsl(var(--dark));
  /* left/down/blur */
}

.modal__image-container {
  display: flex;
  max-height: 100vh;
}

.modal__image {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 16/10; */
  object-fit: cover;
}

.modal__overlay {
  position: absolute;
  z-index: 4;
  bottom: 1rem;
  display: grid;
  gap: 1frem;
}

.modal__btn-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

.modal__btn {
  display: grid;
  place-items: center;
  color: hsl(var(--text));
  background-color: hsl(var(--bkg) / .5);
  padding: .5rem;
  border: 4px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.9, 0, 0, 0.96),
    border 250ms cubic-bezier(0.9, 0, 0, 0.96);
}

.modal__btn:is(:hover, :focus) {
  background-color: hsl(var(--bkg) / .7);
  border: 4px solid hsl(var(--bkg) / .8);
}

.modal__btn svg {
  pointer-events: none;
  width: 2rem;
  height: 2rem;
  transition: transform 250ms cubic-bezier(0.9, 0, 0, 0.96);
}

.modal__btn:is(:hover, :focus) svg {
  transform: scale(1.2);
}

.modal__indicator-container {
  order: -1;
  /* for flex container */
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.modal__indicator {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: hsl(var(--bkg) / .4);
  border: 3px solid hsl(var(--bkg) / .6);
  cursor: pointer;
  position: relative;
}

.modal__indicator:is(:hover, :focus) {
  background-color: hsl(var(--bkg) / .5);
  border: 3px solid hsl(var(--bkg) / .7);
}

.modal__indicator.active::before {
  content: '';
  position: absolute;
  inset: 2px;
  border-radius: 50%;
  background-color: var(--accent);
}

/*
=============== 
FOOTER Styles
===============
*/

footer {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  background-color: transparent;
  margin-top: 1rem;
  font-size: .7rem;
}

footer h5 {
  font-size: .7rem;
}

/*
=============== 
display: none for mobile elements
===============
*/

.box-opinie-mob {
  display: none;
}

.description-mob {
  display: none;
}

.expandMoreHolder {
  display: none;
}

.carousel_item .mobile {
  display: none;
}

.box-1 .mobile {
  display: none;
}

/* Mobile & Tablets Screens max 1000px */
@media screen and (max-width: 62.5rem) {
  header {
    margin-bottom: 2rem;
  }

  .content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    margin: 0;
  }

  .content>div {
    height: auto;
  }

  .content .box-1 {
    width: 90%;
    height: auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content .box-1 p {
    max-width: 75%;
  }

  .carousel .one h2,
  .carousel .two h2,
  .carousel .three h2 {
    margin-top: 1rem;
  }

  .box-4 p {
    max-width: 30rem;
    line-height: 1.4rem;
  }
}

/* Mobile & Tablets Screens max 820px */
@media screen and (max-width: 51.25rem) {
  header .quote {
    margin-left: 5rem;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  header h2 {
    margin: 3.5rem 0 2rem 0;
  }
}

/* Mobile Screens max 599px*/
@media screen and (max-width: 37.4375rem) {
  body {
    padding: 0;
  }

  .desktop {
    display: none;
  }

  .pad {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  #main-container {
    width: 100vw;
  }

  .content {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    row-gap: 2rem;
  }

  /* HEADER */
  header {
    width: 100%;
    height: 100%;
    background-color: none;
    padding: 2rem;
    margin: 0;
    margin-bottom: 2rem;
    /*grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1rem;*/

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  header .top {
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
  }

  header .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }

  header h1.gabinet {
    text-align: center;
  }

  header h2 {
    display: none;
  }

  header p {
    width: 90%;
    font-size: 1rem;
    font-style: italic;
    justify-self: center;
    line-height: 1.5rem;
  }

  header .quote {
    display: none;
  }

  header .promo {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  header .promo-text-2 {
    position: relative;
    rotate: -134deg;
    margin-top: 0rem;
    margin-right: 0rem;
    text-align: center;
    line-height: 1;
    color: #777;
  }

  header .promo-text-2 h3 {
    margin-right: 1rem;
    margin-bottom: 1.2rem;
  }

  /* CONTENT */
  .content>div {
    width: 100%;
    height: auto;
    overflow: visible;
    margin-bottom: 0;
  }

  /* BOX-1 */
  .box-1 {
    padding-bottom: 1rem;
  }

  .box-1 p.mobile {
    display: block;
  }

  .content .box-1 p {
    max-width: 90%;
  }

  /* BOX-2 */
  .carousel p.mobile {
    display: block;
  }

  .carousel .carousel_actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .3rem;
    margin: 0;
    position: absolute;
    top: 6%;
    transform: translateY(-50%);
  }

  /* BOX-3 */
  .slide-container {
    top: 2rem;
    height: 35rem;
    z-index: 100;
  }

  .slide {
    top: 1rem;
    text-align: center;
  }

  .text2 {
    margin-top: 0rem;
  }

  .next-btn {
    top: 2%;
    right: 2%;
  }

  .prev-btn {
    top: 2%;
    left: 2%;
  }

  .box-4 {
    display: none;
  }

}